@model IEnumerable<MyPassionProject.Models.EventDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<<<<<<< Updated upstream
@foreach (MyPassionProject.Models.EventDto Event in Model)
            {
                <div>
                    <a href="/Event/Find/@Event.EventId"> @Event.Title</a>
                </div>
            }
=======
<div class="row">
    @foreach (var Event in Model)
    {

        <div class="card mb-3">

            <div class="card-body">
                <h5 class="card-title">
                    <a href="/Event/Find/@Event.EventId"> @Event.Title</a>
                </h5>
            </div>

        </div>


    }

</div>
<div>
    <a href="/Event/New" class="btn btn-primary">Post Your Own Event</a>
</div>
>>>>>>> Stashed changes
