<<<<<<< Updated upstream
﻿
=======
﻿@model MyPassionProject.Models.ViewModels.FindCategory﻿
>>>>>>> Stashed changes
@{
    ViewBag.Title = "Create";
}

<h2>Create Your Event</h2>

<form action="/Event/Create" method="POST">
    <div class="my-4">
        <label class="form-label">Event Name:</label> <input type="text" name="Title" />
    </div>
    <div class="my-4">
        <label class="form-label">Event Location:</label> <input type="text" name="Location" />
    </div>
    <div class="my-4">
        <label class="form-label">Event Date & Time:</label> <input type="text" name="EventDateTime" />
    </div>
    <div class="my-4">
        <label class="form-label">Event Capacity:</label> <input type="text" name="Capacity" />
    </div>
    <div class="my-4">
        <label class="form-label">Event Details:</label> <input type="text" name="Details" />
    </div>
<<<<<<< Updated upstream
    <div>
        <label>Category</label>
        <select name="CategoryId">
            <option value="1">Fun</option>
            <option value="2">Fare</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Create" />

    </div>
</form>
=======
    <div class="row my-4">
        <div class="col-md-3">

            <label class="form-label">Category:</label>
            <select name="CategoryId" class="form-select">
                @foreach (var category in Model.CategoryOptions)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>

                }
            </select>

        </div>
    </div>

    <div class="row my-4">
        <div class="col-6">
            <div>
                <input type="submit" class="btn btn-primary" value="Create" />
                <a href="@Url.Action("List", "Event")" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>
>>>>>>> Stashed changes
