﻿@model MyPassionProject.Models.CategoryDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div>
    <h2>Are you sure you want to delete this Category?</h2>
    <p>This action cannot be undone.</p>
    <div class="row">
        <div class="col-6">
            <form class="d-inline" method="POST" action="/Category/Delete/@Model.CategoryId">
                <button type="submit" class="btn btn-secondary me-2">Confirm Delete</button>
            </form>
            <a class="btn btn-primary" href="/Category/Find/@Model.CategoryId">Cancel</a>
        </div>
    </div>

</div>