@model IEnumerable<MyPassionProject.Models.CategoryDto>

@{
    ViewBag.Title = "Categories";
}

<h2>List</h2>
<div class="row">
    @foreach (MyPassionProject.Models.CategoryDto Category in Model)
    {
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Category/Find/@Category.CategoryId"> @Category.CategoryName</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>


<div>
    <a href="/Category/New" class="btn btn-primary ">Add New Category</a>
</div>

